{% extends "base.html" %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">How Can I Participate?</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Participate</li>
    </ol>

    <div class="row bigtext">
      <div class="col-lg-4">
        <p><img class="img-fluid rounded" src="/img/participate/image2.png" alt="dashboard" /></p>
      </div>
      <div class="col-lg-8">
        <h2 id="whole-tale-dashboard">Whole Tale Dashboard</h2>
        <p>The Whole Tale environment is completely free and open for use.</p>
        <p><a href="https://dashboard.wholetale.org/">Try it out now</a> – but be aware, it’s still in alpha and might not quite work like you (or we) expect!</p>
       </div>
    </div>

    <div class="row bigtext">
      <div class="col-lg-8">
        <h2 id="working-groups">Working groups</h2>

        <p>Whole Tale is focused on addressing real scientific use cases. For this purpose we host a number of science and cyberinfrastructure working groups.</p>

        <p>Science working groups focus on discussing current challenges in materials science, biology, astrophysics, environmental science, and social sciences.  Topics tackled by these working groups interest include data management, reproducibility, publication, and analysis frontends.</p>

        <p>Cyberinfrastructure and engagement working groups focus on challenges associated with provenance and reproducibility, education, and interacting with publishers.</p>

        <p>See the <a href="working_groups.html">Working groups</a> page for more information.</p>

      </div>
      <div class="col-lg-4">
        <p><img class="img-fluid rounded" src="/img/participate/image1.png" alt="working_groups" /></p>
      </div>
    </div>

    <div class="row bigtext">
      <div class="col-lg-4">
        <p><img class="img-fluid rounded" src="/img/participate/image3.png" alt="internships" /></p>
      </div>

      <div class="col-lg-8">
        <h2 id="internships">Internships</h2>

        <p>Each year we host interns to explore different aspects of the project, from
  science-focused internships using the Whole Tale platform through to
  internships focused on development of the platform. Internships are conducted
  over a 10-week period and include a research stipend. Interns are paired with
  one or more mentors who are associated with the project.</p>

        <p>In 2017 we had more than 80 applicants and accepted three interns.</p>

        <p>These internships focused on reproducing machine learning models used to
  predict materials properties;  tracking the provenance of paleoclimate
  reconstruction workflows; and understanding the requirements on infrastructure
  to promote reproducible research.</p>

      </div>
    </div>

    <div class="row bigtext">
      <div class="col-sm-12">
        <h2 id="workshops">Workshops</h2>

        <p>Workshops provide an opportunity for hands-on use and extension of the Whole
  Tale platform.  Workshops focus not only on science domains but also
  integration of the platform with data and compute sources, publishers, and
  external cyberinfrastructure providers.</p>

        <p>In 2017 we hosted our first workshop in collaboration with DataONE. The
  workshop allowed more than 20 researchers from Archaeology, Environmental
  Science, and Computer Science  to build reproducible workflows and investigate
  a wide range of approaches to capture provenance in RStudio environments.  Information 
  about the workshop is <a href="https://github.com/DataONEorg/provathon-2017">available online</a>.</p>

        <p>The upcoming <a href="/2018/06/26/working-group-workshop.html">Workshop on Tools and Approaches for Publishing Reproducible
  Research</a> will be held September
  13-14, 2018.</p>

      </div>
    </div>

    <div class="row bigtext">
      <div class="col-sm-12">
        <h2 id="other-ways-to-get-involved">Other ways to get involved</h2>

        <ul>
          <li>Please complete a short survey to help us understand your requirements: <a href="https://goo.gl/3AtgQm">https://goo.gl/3AtgQm</a></li>
          <li>Join our mailing list to keep up with updates and new features <a href="https://groups.google.com/forum/#!forum/wholetale">https://groups.google.com/forum/#!forum/wholetale</a></li>
          <li>Follow (or contribute to) our open code repository <a href="https://github.com/whole-tale">https://github.com/whole-tale</a></li>
        </ul>

      </div>
    </div>
  </div>
  <!-- /.container -->
{% endblock %} 
